.login-container {
  max-width: 412px;
  margin: 0 auto;
  padding: 24px;
  text-align: left;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.5;
}

.login-subtitle {
  font-size: 14px;
  color: #333;
  margin-bottom: 32px;
  line-height: 1.6;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 12px; /* 둥근 모서리 */
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-input-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.forgot-password {
  text-align: left;
  margin-bottom: 24px;
}

.forgot-password a {
  font-size: 12px;
  color: #F56565;
  font-weight: bold;
  text-decoration: none;
}

.login-button {
  padding: 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; /* 버튼 텍스트 중앙 정렬 */
}

.register-container {
  margin-top: 16px;
  font-size: 12px;
  text-align: center;
}

.register-link {
  margin-left: 5px;
  color: #F56565;
  font-weight: bold;
  text-decoration: none;
}

.divider {
  margin: 24px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.google-login-button {
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Google 로그인 버튼 중앙 정렬 */
}

.google-login-text {
  font-size: 12px;
  color: #666;
  margin-top: 8px;
  text-align: center; /* Google 로그인 텍스트 중앙 정렬 */
}

  